@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color:#7cf03d;
    --white-color: #fff;
    --disabled-color: #fff3;
    
}

html {
    font-size: 62.5%;
}

body {
    color: var(--white-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem 10%;
    background: #3a9b06;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #97f391;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a {
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .5s;
}

nav a:hover,
nav a.active {
    color: #809607;
}

#menu-icon {
    font-size: 4rem;
    display: none;
}

section {
    position: relative; /* Change from absolute to relative */
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    visibility : hidden;
    background: var(--bg-color);
    opacity: 0;
    overflow: hidden;
    transition: visibility 0s, opacity 0.5s linear; /* Smooth transition */
    
}

section.active {
    visibility: visible;
    opacity: 1;
    overflow: auto;
    z-index: 10; /* Ensure active section is on top */
    
}

.home {
    display: flex;
    align-items: center;
    gap: 5rem;
    z-index: 20; /* Ensure home section is above others */
    background: var(--bg-color);
}

.home-detail h1 {
    font-size: clamp(3.5rem, 10vw, 5.5rem);
}

.home-detail h2 {
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;
}
.home-detail h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .07rem #809607;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
    25%,
    100% {
        display: none;
    }
}

.home-detail h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid #d0e68e;
    color: #97f391;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%,100% {
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}

.home-detail p {
    font-size: 1.6rem;
    margin: 1rem 0 2.5rem;
}

.home-detail .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
}

.home-detail .btn-sci .sci {
    margin-left: 2rem;
} 

.home-detail .btn-sci .sci a {
    display: inline-flex;
    padding: 0.8rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 .8rem;
    transition: .5s;
}

.home-detail .btn-sci .sci a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color); 
}

.home-img .img-box {
    margin-left: 50px;
}
.home-img .img-box {
position: relative;
width: 40vw;
height: 40vw;
border-radius: 60%;
padding : 3px;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;


}
.home-img .img-box::before,
.home-img .img-box::after { 
content: '';
position: absolute;
width: 700px;
height: 700px;
background: conic-gradient(transparent, transparent, transparent, #3a9b06);
transform: rotate(0deg);
animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
animation-delay: -5s;
}

@keyframes rotate-border {
100% {
  transform: rotate(360deg);
}
}


.home-img .img-box .img-item {
position: relative;
width: 100%;
height: 100%;
background: #1f242d;
border-radius: 60%;
display: flex;
justify-content: center;
z-index: 1;
overflow: hidden;
}
.home-img .img-box .img-item img {
position: absolute;
top: 0px;
display: block;
width: 85%;
object-fit: cover;
mix-blend-mode: lighten;
}
.bars-animation {
position: absolute;
width: 100%;
height: 100%;
display: flex;
z-index: -1;
}
.bars-animation .bar {
width: 100%;
height: 100%;
background: #1f242d;
transform: translateY(-100%);
animation: show-bars 0.5s ease-in-out forwards;
animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars {
100% {
  transform: translateY(0%);
}
}

.heading {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    color:#809607;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.services-container .services-box {
    padding: 3rem 2.5rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: 1rem;
    transition: .5s;  
}

.services-container .services-box:hover {
    border-color: #809607;
    transform: scale(1.02);
    
}


.services-box .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-box .icon i {
    font-size: 4.5rem;

    transition: .5s;
}

.services-box:hover .icon :not(a i) {
    color: #809607;

}

.services-box .icon a {
    display: inline-flex;
    background: var(--white-color);
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}

.services-box:hover .icon a {
    background: #97f391;
}

.services-box .icon a i {
    font-size: 3rem;
    color: var(--bg-color);
    transform: rotate(225deg);
}

.services-box .icon a:hover i {
    transform: rotate(140deg);
}

.services-box h3 {
    font-size: 2.3rem;
    margin: .3rem 0 1rem;
    transition: .5s;
}

.services-box:hover h3 {
    color: #97f391;
}

.services-box p {
    font-size: 1.5rem;
}

.services-box p {
    margin-bottom: 2rem; /* Adjust the space between paragraphs */
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.about-box h2 {
    font-size: 4.5rem;
}

.about-box p {
    font-size: 1.5rem;
    margin-bottom: 2rem;

}

.about-box .desc {
    margin: 0.5rem 0 2.5rem;
}

.about-box .about-btn {
    width: 100%;
    height: 5.3rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
}

.about-box .about-btn.active {
    border-color:var(--main-color);
    color: var(--main-color);
}

.about-detail {
    display: none;
}

.about-detail.active {
    display: block;
}

.about-box .heading {
    font-size: 3.4rem;
    text-align: left;
}


.about-detail.profile.active {
    display: grid;
    grid-template-columns: 1fr 25rem;
    gap: 3rem;
    align-items: center;
    padding: 2rem;
    background: var(--second-bg-color);
    border-radius: 1rem;
    transition: .5s;
    box-shadow: 0 0 0 transparent;
  }

  .about-detail.profile.active:hover {
    box-shadow: 0 0 2rem #809607;
  }

  .content-wrap {
    flex: 1;
  }

  .content-wrap .heading {
    font-size: 3.5rem;
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .content-wrap .heading span {
    color: #97f391;
  }

  .content-wrap .desc {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .image-container {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow: hidden;
    border: .2rem solid var(--main-color);
    box-shadow: 0 0 .5rem #809607;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .about-detail.profile.active {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .content-wrap .heading {
      text-align: center;
    }

    .image-container {
      width: 20rem;
      height: 20rem;
      margin: 0 auto;
    }
  }

  .about-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
  }

  .about-list::-webkit-scrollbar {
    width: .7rem;
  }

  .about-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
  }

  .about-list:hover::-webkit-scrollbar-thumb {
    background: var(--main-color);
  }


  .about-list .about-item {
    background: var(--second-bg-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-item .year {
    color: #809607;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .about-item h3 {
    font-size: 2rem;
  }

  .about-item .link {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    color: #d0e68e;
    font-size: 1.3rem;
  }

  .about-item .link::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: #97f391;
    border-radius: 50%;
    margin-left: -2rem;
  }

  .about-detail.about .about-list {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  }

  .about-detail.about .about-item {
    height: auto;
    padding: 0 0 .2rem;
    background: transparent;

  }

  .about-detail.about .about-item p {
    color: var(--main-color);
  }

  .about-detail.about .about-item p span {
    color: var(--white-color);
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .portfolio {
    background: var(--second-bg-color);
  }

  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    
  }

  .portfolio-detail {
    display: none;
   
  }

  .portfolio-detail.active {
    display: block;
  }

  .portfolio-box .numb {
    font-size: 8rem;
    -webkit-text-stroke: .07rem var(--white-color);
    color: transparent;
    line-height: 1;
  }

  .portfolio-box h3 {
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
  }

  .portfolio-box p {
    font-size: 1.6rem;
  }

  .portfolio-box .tech {
    margin: 2rem 0;
    color: var(--main-color);
    border-bottom: .1rem solid var(--white-color);
  }

  .portfolio-box .live-github a {
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: var(--white-color);
    border-radius: 50%;
    background: var(--second-bg-color);
    transition: .5s;
  }

  .portfolio-box .live-github a:hover {
    color: var(--main-color);
  }

  .portfolio-box .live-github a:first-child {
    margin-left: 1.5rem;
  }

  .portfolio-box .live-github a:first-child i {
    transform: rotate(135deg);
  }

  .portfolio-box .live-github a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: var(--white-color);
    color: var(--bg-color);
    opacity: 0;
    transition: .2s;
  }

  .portfolio-box .live-github a:hover span {
    top: -70%;
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  .portfolio-box .portfolio-carousel {
    width: 100%;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
  }

  .portfolio-carousel .img-slide {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s;
  }

  .portfolio-carousel .img-item {
    height: inherit;
  }

  .portfolio-carousel .img-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .portfolio-box .navigation {
    text-align: right;
    margin-top: 1rem;
  }

  .portfolio-box .navigation button {
    display: inline-flex;
    padding: .2rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
  }

  .portfolio-box .navigation button.disabled {
    border-color: var(--second-bg-color);
    color: var(--disabled-color);
  } 

  .portfolio-box .navigation .arrow-right {
    margin-left: 1.5rem;
  }

  

  .quotes-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
    background: var(--bg-color);
  }

  .quotes-container .quotes-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
  }

.quotes-wrapper .quotes-box {
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}

  .quotes-content .quotes-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem #d0e68e;
    padding: 3rem 5rem;
    border-top: .8rem solid var(--second-bg-color);
    border-bottom: .8rem solid var(--second-bg-color);
  }

  .quotes-slide p {
    font-size: 2rem;
    text-align: center;
  }

  .quotes-box .swiper-button-next,
  .quotes-box .swiper-button-prev {
    color: var(--main-color);
  }

  .quotes-box .swiper-button-next {
    right: 0;
  }

  .quotes-box .swiper-button-prev {
    left: 0;
  }

  .quotes-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, .8);
  }

  .quotes-box .swiper-pagination-bullet-active {
    background: var(--main-color);
  }

  /* breakpoints */
  @media screen and (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  }

  @media screen and (max-width: 992px) {
    header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }
  }

 
  @media screen and (max-width: 768px) {
    .home {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 2rem;
    }
    
    .home-img .img-box {
      width: 35rem;
      height: 35rem;
    }
  
    .about-container,
    .portfolio-container {
      grid-template-columns: 1fr;
    }
  
    .about-container {
      gap: 3rem;
    }
  }
  

  @media screen and (max-width: 600px) {
    .home-img .img-box {
      width: 30rem;
      height: 30rem;
    }
  }

  @media screen and (max-width: 450px) {
    html {
      font-size: 50%;
    }

  }

  @media screen and (max-width: 400px) {

    .home-detail,
    .about-box h2,
    .about-box .heading,
    .about-box .desc,
    .about-detail.about .about-item {
      text-align: center;
    }

    .home-detail .btn-sci {
      flex-direction: column-reverse;
    }

    .home-detail .btn-sci .sci {
      margin-left: 0;
      margin-bottom: 2rem;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem 5%;
    background: #3a9b06;
  }

  .footer-text p {
    font-size: 1.5rem;
    color: #fff;
  }
